 <%= render 'shared/navbar' %>

<div class="card text-white">
  <img height="200" width="80" class="card-img" src="https://media-cdn.tripadvisor.com/media/photo-s/10/82/46/fc/night-volleyball-on-a.jpg">
  <div class="card-img-overlay d-flex flex-column justify-content-end">
    <h5 class="card-title font-weight-bold mb-0">Bech Volley sotto le stelle</h5>
    <p class="card-text font-weight-lighter"> 5 Luglio 2019</p>
  </div>
</div>
