<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->
 <div class="container">
  <div class="banner">
    <div class="row text-center">
      <h1><strong>Estate</strong></h1>
      <h2> a Falciano del Massico</h2>
      <p class="bg-light text-primary"> La tua estate da ricordare </p>
      <a class="btn btn-light  w-100" href="#">Scopri gli eventi</a>
    </div>
  </div>
</div>
