<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->
 <div class="container">
  <div class="banner text-center">
    <div class="row">
      <h1><strong>Estate</strong> a <strong>Falciano del Massico</strong></h1>
      <p>La tua estate da ricordare</p>
      <a class="btn btn-outline-light" href="#">Scopri gli eventi</a>
    </div>
  </div>
</div>
