.banner {
  background-image: url(https://images.unsplash.com/photo-1504963404465-e3240c467d36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin-top: 0px;
  height: 96vh;
  position: relative;
}


.banner h1 {
  position: absolute;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 5rem;
  font-weight: bold;
  top: 55px;
  left:20px
}
.banner h2 {
  position: absolute;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 26px;
  font-weight: bold;
  top: 136px;
  left: 24px;
}

.banner p {
  position: absolute;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  top: 166px;
  left: 25px;
}

.btn {

  position: absolute;
  bottom: 14px;
  left:0px;
}
.btn-light:hover {
  color: white;
  background-color: skyblue;

}
.container {
  padding-left: 0px;
}
